body	{
		background-color: #141414;
		margin: 0;
		padding: 0;
		border: 0;
		position: relative;
		}

/* ---- Header Section ---- */
.header	{
		background-color: #3C362F;
		width: 100%;
		z-index: 0;
		}
.header img {
		width: 100%
		}		
#logo 	{
		width: 35%;
		min-width: 250px;
		max-width: 360px;
		padding-top: 28px;
		margin-left: auto;
		margin-right: auto;
		}
	
.header_container {
		margin-left: auto;
		margin-right: auto;
		width: 86%;
		max-width: 900px;
		padding-bottom: 70px;
		overflow: auto;
		position: relative;
		}
div.header_container img {
		border-radius: 7px;
		}

#header_fun {
		width: 27%;
		margin-top: 5%;
		float: left;
		}
#header_fun_text {
		width: 76%;
		margin-left: 16%;
		margin-top: -11%;
		}

#header_comfy {
		width: 28%;
		margin-left: 6%;
		margin-top: 10%;
		float: left;
		}
#header_comfy_text {
		width: 78%;
		margin-top: -10%;
		padding-left: 9%;
		}

#header_pretty {
		width: 35%;
		margin-top: 6.2%;
		float: right;
		}
#header_pretty_text {
		width: 73%;
		margin-top: -35px;
		margin-left: 6%;
		}

.header-details_container {
		height: 9vw;
		max-height: 100px;
		width: 100%;
		position: absolute;
		}
.header_welle {
		background-color: #3C362F;
		height: 100%;
		z-index: -2;
		-webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
		clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
		}
.details_coping {
		background-color: #486200; /* #486257 */
		height:100%;
		z-index: -5;
		}


/* ---- Details Section ---- */
.details {
		background-color: #486257;
		width: 100%;
		z-index: -2;
		}
.details img {
		width: 100%;
		}
.details_container {
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 70px;
		width: 86%;
		max-width: 900px;
		overflow: hidden;
		}
#details_center {
		width: 36%;
		margin-left: 33%;
		float: left;
		}
#details_center_size {
		padding-top: 19%;
		}
#details_rope {
		width: 29%;
		margin-top: 15%;
		margin-left: -68%;
		float: left;
		}
#details_attatching {
		width: 30%;
		margin-top: 20%;
		float: right;
		}

/* ---- Testimonial ---- */
.testimonial {
		background-color: #292F31;
		width: 100%;
		max-height: 800px;
		position: relative;
		z-index: -2;
		}
.testimonial img {
		width: 100%;
		margin-top: 20%;
		margin-bottom: 20%;
		}
.testimonial_container {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		max-width: 450px;
		overflow: hidden;
		}
		
/* ---- Order ---- */
.order {
		height: 80vw;
		width: 100%;
		position: relative;
		z-index: -3;
		}
.order img {
		width: 100%;
		padding-top: 10%;
		}
#order_container {
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		max-width: 700px;
		}
		

/* ---- Contact ---- */
.contact {
		background-color: #1D1E1F;
		height: 40vw;
		max-height: 70vh;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 15px;
		position: relative;
		}
#contact_container {
		width: 500px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		padding-top: 90px;
		}
#contact_text {
		width: 500px;
		}
#contact_email {
		width: 400px;
		margin-left: 50px;
		padding-top: 90px;
		}

/* ---- Footer ---- */
div.footer {
		height: 900px;
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		}

#signature {
		width: 250px;
		margin-left: 125px;
		padding-top: 50px;
		}
div.footer p {
		font-family: -apple-system, sans-serif;
		text-align: center;
		font-size: 1em;
		font-weight: 500;
		padding-top: 200px;
		color: #919191;
}

@media (max-width: 700px) {
		#header_fun {
				width: 100%;
				}
		#header_fun_text {
				width: 60%;
				margin-top: -30%;
				margin-left: 30%;
				}
		#header_comfy {
				width: 90%;
				}
		#header_comfy_text {
				width: 60%;
				margin-top: -21%;
				margin-left: -16%;
				}
		#header_pretty {
				width: 100%;
				}
		#header_pretty_text {
				width: 60%;
				margin-top: -100%;
				margin-left:37%;
				}
		#details_center {
				width: 75%;
				margin-left: 17%;
				margin-bottom: 2%;
				}
		#details_rope {
				width: 75%;
				margin-left: 12.5%;
				}
		#details_attatching {
				width: 75%;
				margin-right: 12.5%;
				}
}
		